.LeagueCard {
}

.LeagueCard .BodyStyle {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  margin: 1.5rem;
}

.LeagueCard .button {
  font-size: 1rem;
  margin: 1rem;
  color: red;
}

.LeagueCard .Ribbon {
  background-color: #324157;
  height: 1.5rem;
  margin-bottom: 0.5rem;
}

.LeagueCard .BodyStyle .Header {
  font-size: 1.1rem;
  color: black;
  font-family: inherit;
}
