.TeamCard {
}

.TeamCard .BodyStyle {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  margin: 1.5rem;
}

.TeamCard .button{
    font-size: 1rem;
    margin: 1rem;
    color: red;
}


.TeamCard .Header{
  background-color: #324157;
  height: 1.5rem;
  margin-bottom: .5rem;
}


.TeamCard .BodyStyle .BodyText {
  font-size: 1.2rem;
  color: black;
  font-family: inherit;
}
